/EmpezandoFunciones/Funcion21/build/
/MiniJuego/nbproject/private/
/MiniJuego/build/
/EmpezandoFunciones/MiniJuego/nbproject/private/
/EmpezandoFunciones/MiniJuego/build/
/Piedra,Papel,Tijera/nbproject/private/
/EmpezandoFunciones/Examen/nbproject/private/
/EmpezandoFunciones/Examen/build/
